@import "../Consts.css";

.Pawn {
    width: 20px;
    height: 30px;
    position: absolute;
    border-radius: 50% 50% 0 0; 
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.3);
    transform: translateX(10px);
    transition: all 0.3s ease;
    isolation: isolate; /* Ensure the Pawn doesn't blend styles with parent */
    z-index: 1; /* Ensure it visually sits on top */
}
  
.Pawn::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 50%;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.Pawn.smaller {
    width: 12px;
    height: 22px;
    transform: translateX(-1px);
}
  
.Pawn.smaller::before {
    width: 10px;
    height: 10px;
    top: -8px;
}

.Pawn.smaller:hover {
    width: 16px;
    height: 26px;
}
  
.Pawn:hover {
    width: 24px;
    height: 36px;
}
  
.Pawn.red {
    background-color: red !important;
}

.Pawn.red::before {
    background-color: red !important;
}

.Pawn.smaller.red {
    background-color: red !important;
}

.Pawn.smaller.red::before {
    background-color: red !important;
}
  
.Pawn.blue {
    background-color: blue !important;
}

.Pawn.blue::before {
    background-color: blue !important;
}

.Pawn.smaller.blue {
    background-color: blue !important;
}

.Pawn.smaller.blue::before {
    background-color: blue !important;
}

  
.Pawn.green {
    background-color: green !important;
}

.Pawn.green::before {
    background-color: green !important;
}

.Pawn.smaller.green {
    background-color: green !important;
}

.Pawn.smaller.green::before {
    background-color: green !important;
}
  
.Pawn.yellow {
    background-color: var(--PrettyYellow) !important;
}

.Pawn.yellow::before {
    background-color: var(--PrettyYellow) !important;
}

.Pawn.smaller.yellow {
    background-color: var(--PrettyYellow) !important;
}

.Pawn.smaller.yellow::before {
    background-color: var(--PrettyYellow) !important;
}
  
  