.Triangle {
  width: 0;
  height: 0;
  position: absolute;
}

.triangle-blue {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid blue;
  left: 50%;
  transform: translateX(-50%);
}

.triangle-yellow {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid var(--PrettyYellow);
  transform: translateX(26%) translateY(50%) rotate(90deg);
}

.triangle-green {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid green;
  transform: rotate(180deg);
}

.triangle-red {
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 70px solid red;
  transform: translateX(-26%) translateY(-50%) rotate(-90deg);
}
