.grid-container-yellow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 46px);
    width: 279px;
    position: absolute;
    right: 0;
    height: 210px;
    transform: translateY(-3px);
}
  
.grid-container-yellow .grid-item.highlight {
    background-color: var(--PrettyYellow);
}
  
.grid-container-yellow .grid-item.normal {
    background-color: white;
}

.yellow-arrow {
    font-size: 32px;
    color: var(--PrettyYellow);
    text-align: center;
  }
  