@import "../Consts.css";

.Chat {
    position: fixed;
    bottom: 200px;
    left: 40px;
    width: 400px;
    height: 300px;
    border: 2px solid white;
    background-color: var(--webPageBackgroundColour);
    padding: 10px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.Chat .name-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Chat .name-input input {
    background-color: var(--webPageBackgroundColour);
    color: var(--textColor);
    border: none;
    width: 80%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
    margin-bottom: 10px;
}

.Chat .name-input button {
    background-color: var(--ButtonBackgroundColor);
    color: white;
    border: none;
    width: 80%;
    height: 40px;
    font-size: 16px;
    border-radius: var(--BorderRadius);
    cursor: pointer;
}

.Chat .messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 10px;
}

.Chat .messages div {
    margin-bottom: 5px;
    padding: 5px;
    background-color: var(--BackgroundColourForMessages);
    border-radius: var(--BorderRadius);
    word-wrap: break-word;
    font-size: 14px;
    color: var(--textColor);
}

.Chat .message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Chat .message-input input {
    background-color: var(--webPageBackgroundColour);
    color: var(--textColor);
    border: none;
    width: calc(100% - 50px);
    height: 40px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: var(--BorderRadius);
}

.Chat .message-input input::placeholder {
    color: var(--textColor);
    opacity: 0.8;
}

.Chat .message-input button {
    background-color: var(--ButtonBackgroundColor);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: var(--BorderRadius);
    cursor: pointer;
}
