@import "../Consts.css";

.ExitGameButton {
    position: fixed;
    top: 4%;          
    right: 2%;          
    z-index: 1000;       
}

.ExitGameButton button {
    padding: 10px 20px;    
    font-size: 16px;      
    background-color: white; 
    color: black;         
    border: none;         
    border-radius: var(--BorderRadius);   
    cursor: pointer;     
    transition: background-color 0.3s;
}

.ExitGameButton button:hover {
    background-color: #ff4d4d;
}
