@import "../Consts.css";

.Square {
    width: 280px;
    height: 260px;
    position: absolute; 
}

.square-red {
    background-color: red;
    border-top-left-radius: var(--BorderRadius);
}

.square-blue {
    background-color: blue;
    border-top-right-radius: var(--BorderRadius);
}

.square-green {
    background-color: green;
    border-bottom-left-radius: var(--BorderRadius);
}

.square-yellow {
    background-color: var(--PrettyYellow) ;
    border-bottom-right-radius: var(--BorderRadius);
}

.player-name {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

.player-name.top {
    top: 5%;
}

.player-name.bottom {
    bottom: 5%;
}
