:root{
    --webPageBackgroundColour: #282c34;
    --BoardBackgroundColour: white;
    --InputAndBorderChatColour: white;
    --ExitGameButtonBackgroundColour: white;
    --SquareWithinSquareBackgroundColour: white;
    --BorderRadius: 2%;
}